.psev-stl .psev-titb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--fondo2);
    border: 1px solid var(--borde);
    position: relative;
    overflow: hidden;
    height: 220px;
    overflow: inherit !important;
}

.psev-stl .psev-titb img {
    object-fit: cover;
    width: 657px;
    height: 220px;
}
.psev-stl-pst img {
    width: 438px !important;
}
.psev-stl .psev-icon {
    background: var(--fondo12);
    padding: 10px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid var(--borde);
    bottom: -45px;
    z-index: 2;
}
.psev-stl .psev-icon i {
    opacity: 1 !important;
    font-size: 32px !important;
}
.psev-stl .psev-datos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: normal;
    margin-bottom: 10px;
}

.psev-stl .psev-tit-txt2b {
    background-image: none !important;
    color: var(--colortxt) !important;
    font-weight: 900;
    text-align: center;
    border-bottom: 5px solid var(--fondo9);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 26px;
}

.psev-stl .psev-tit-txt3 {
    color: var(--colortxt);
    text-align: center;
    text-transform: lowercase;
    font-size: 14px;
}

.psev-stl .psev-tit-txt {
    background: transparent !important;
    border: none !important;
}

.psev-stl .psev-contbg {
    border: 1px solid var(--borde);
}

.psev-stl .psev-acts-txt3 {
    border: 1px solid var(--borde);
}

.psev-stl strong {
    background: linear-gradient(90deg, var(--grupo) 0%, var(--gpgradient) 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    padding: 0px 1px 0px 1px;
    color: #424242 !important;
    letter-spacing: 1px;
    font-weight: 900;
}

.psev-stl .psev-contbg u i {
    color: #fff;
}

.psev-stl-pst {
    width: 440px !important;
}

.psev-stl-pst .psev-titb {
    height: 160px;
}

.psev-stl-pst .psev-titb img {
    height: 160px;
}

.psev-stl-pst2 {
    padding: 20px;
}

.psev-stl-pst2 br {
    display: inline !important;
}

.psev-div p {
    display: block !important;
    width: 485px;
    margin: auto;
    padding: 20px 10px;
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    color: var(--cletra3);
    margin-bottom: 0px !important;
}

.dark-mode .psev-div {
    background: linear-gradient(1deg, #676767b5 0%, #232323b5 100%);
}

.light-mode .psev-div {
    background: linear-gradient(1deg, #d7d7d7b5 0%, #e5e5e5b5 100%);
}

.psev-div {
    position: relative;
    right: 40px;
    width: 655px;
}

.psev-cimgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.psev-cimg {
    position: relative;
    width: 260px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.psev-cimg img {
    width: 260px;
    height: 140px;
    object-fit: cover;
}

.psev-frs {
    position: absolute;
    color: var(--cletra2);
    font-weight: 900;
    font-size: 24px;
    text-transform: lowercase;
    text-shadow: 1px 2px 0px black;
}